::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Sora", sans-serif;
  margin: 0;
}

h2 {
  font-family: "Encode Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.testing-new-header {
  height: 100%;
  overflow: auto;
}

.testing-placement {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.testing-button-style {
  font-size: 1.4rem;
  border-style: none;
  height: 45px;
  color: #fef7dc;
  background: #5f7a61;
  border-radius: 20px;
  cursor: pointer;
}

.testing-a-style {
  font-size: 1.4rem;
  padding: 0.375rem 0;
  text-align: center;
  border-radius: 20px;
  display: block;
  height: 45px;
  text-decoration: none;
  color: #fef7dc;
  background: #5f7a61;
  cursor: pointer;
}

.small-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.just-content {
  justify-content: center;
}

.small-icon {
  color: black;
  padding-right: 5px;
}

.style-fa-location-arrow {
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

.small-img-placement {
  display: flex;
  justify-content: center;
}

.red {
  color: red;
}

.margin-top {
  margin-top: 4rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 0.5rem;
  border: 8px solid #5f7a61;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5f7a61 transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  UPDATE-PLAN.JSX  */

.update-plan-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.update-plan-position {
  height: 90vh;
  margin-top: 3.625rem;
}

.update-plan-fullname-position {
  margin-top: 0.625rem;
}

.update-plan-fullname {
  font-size: 1.2rem;
  margin-bottom: 0;
}

/*  ICON.JSX  */

.icon-style {
  color: black;
  font-size: xx-large;
  height: 45px;
  background-color: #fff;
  cursor: pointer;
}

.icon-fas {
  margin: 0.375rem 1.25rem;
}

.icon-style:hover {
  color: black;
}

.icon-position {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

/*  HOME.JSX  */

.post-status-placement {
  display: flex;
}

.margin-test {
  margin-top: 1.4rem;
}

.my-plans-position {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

.h2-plans-jsx {
  width: 375px;
  background-color: white;
  padding-left: 1.3rem;
  font-weight: 400;
  color: #5f7a61;
}

.h2-avail-jsx {
  padding-left: 1.3rem;
  font-weight: 400;
  top: 429px;
  width: 375px;
  background-color: white;
  color: #5f7a61;
}

.h2-pending-jsx {
  padding-left: 1.3rem;
  font-weight: 400;
  top: 235px;
  width: 375px;
  background-color: white;
  color: #5f7a61;
}

.plans-home-jsx {
  height: 25%;
  overflow: auto;
}

.avail-home-jsx {
  height: 42%;
  overflow: auto;
}

.pending-home-jsx {
  height: 25%;
  overflow: auto;
}

.container-home-jsx {
  margin-top: 3.98rem;
  padding: 0;
}

.button-home-jsx {
  display: block;
  position: fixed;
  right: 7px;
  bottom: 55px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100px;
  outline: none;
  background: #5f7a61;
  color: white;
  cursor: pointer;
}

.fa-plus-styling {
  color: #fef7dc;
  font-size: 1.2rem;
  margin: 1.25rem 0 0 1.313rem;
}

.home-fa-clock {
  padding-right: 0.313rem;
}

.home-fa-comment-alt {
  padding-right: 0.313rem;
}

.div-liststatus {
  display: flex;
  color: black;
  justify-content: center;
}

.homepage-button-position {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.8rem;
}

.p-liststatus {
  font-size: 0.7rem;
  margin-bottom: 0.625rem;
}

.request-a-home {
  font-size: 0.7rem;
  padding: 0.125rem 0;
  text-align: center;
  border-radius: 20px;
  width: 65px;
  display: block;
  text-decoration: none;
  color: #fef7dc;
  background: #5f7a61;
  cursor: pointer;
}

.denied-button-home {
  font-size: 0.7rem;
  padding: 0.125rem 0;
  text-align: center;
  border-radius: 20px;
  width: 65px;
  display: block;
  border-style: none;
  color: #fef7dc;
  background: #5f7a61;
  cursor: pointer;
}

/*  HEADER.JSX  */

.header-jsx-style {
  font-family: "Encode Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  font-size: 2.4rem;
}

/*  POST-STATUS.JSX  */

.post-status-test {
  height: 710px;
  margin-top: 3.563rem;
}

.button-1 {
  position: fixed;
  bottom: 100px;
  margin-left: 1.25rem;
}

.button-2 {
  bottom: 50px;
  position: fixed;
  margin-left: 1.25rem;
}

.button-style {
  font-size: 1.4rem;
  border-style: none;
  width: 345px;
  height: 45px;
  color: #fef7dc;
  background: #5f7a61;
  border-radius: 20px;
  cursor: pointer;
}

.a-style {
  font-size: 1.4rem;
  padding: 0.375rem 0;
  text-align: center;
  border-radius: 20px;
  width: 345px;
  display: block;
  height: 45px;
  text-decoration: none;
  color: #fef7dc;
  background: #5f7a61;
  cursor: pointer;
}

.a-style:hover {
  color: #fef7dc;
}

.label-padding {
  padding-bottom: 0.938rem;
}

.post-input-style {
  height: 28px;
  margin-bottom: 0.938rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #5f7a61;
  width: 200px;
}

.post-fa-clock {
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

.post-fa-comment-alt {
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

.button-2-post {
  bottom: 50px;
  position: fixed;
  margin-left: 1.25rem;
}

/*  SEND-REQ.JSX  */

.send-input-style {
  height: 28px;
  margin-bottom: 0.938rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #5f7a61;
  width: 200px;
}

.send-fa-clock {
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

.send-fa-comment-alt {
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

.button-2-send-req {
  bottom: 50px;
  position: fixed;
  margin-left: 1.25rem;
}

/*  NOTIFICATION.JSX  */

.noti-row-style {
  overflow: auto;
}

.noti-h2-style {
  padding-left: 1.3rem;
  position: fixed;
  top: 50px;
  width: 375px;
  background-color: white;
  color: #5f7a61;
}

.noti-jsx-margin {
  margin-top: 1.125rem;
}

.p-noti-jsx {
  font-size: 0.7rem;
  margin-bottom: 0.438rem;
}

.buttons {
  margin-bottom: 0.313rem;
}

.a-app-deny {
  font-size: 0.7rem;
  padding: 0.125rem 0;
  text-align: center;
  border-radius: 20px;
  width: 75px;
  text-decoration: none;
  color: #fef7dc;
  background: #5f7a61;
  cursor: pointer;
  border-style: none;
}

.a-placement {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/*  MY PROFILE  */

.my-profile-small-img {
  width: 75%;
}

.my-profile-p-info {
  padding-left: 1.3rem;
  font-size: 0.9rem;
  margin-bottom: 0.625rem;
}

.my-profile-p-fullname {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Encode Sans", sans-serif;
  margin-bottom: 0.625rem;
}

.my-profile-testing {
  display: flex;
  flex-direction: column;
}

.my-profile-edit {
  font-size: 0.7rem;
  padding: 0.125rem 0;
  text-align: center;
  border-radius: 20px;
  width: 65px;
  display: block;
  text-decoration: none;
  border-style: none;
  color: #fef7dc;
  background: #5f7a61;
  cursor: pointer;
}

.button-3 {
  padding-left: 1.3rem;
}

.profile-user-icon {
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

/*  MY PROFILE UPDATE  */

.button-1-update {
  position: fixed;
  bottom: 100px;
  margin-left: 1.25rem;
}

.button-2-update {
  bottom: 50px;
  position: fixed;
  margin-left: 1.25rem;
}

.send-fa-user-icon {
  padding-top: 0.313rem;
  padding-right: 0.688rem;
  font-size: 1.2rem;
  padding-left: 0.188rem;
}

/*  MEDIA Q  */

@media (min-width: 500px) {
  .h2-plans-jsx {
    width: 500px;
  }

  .h2-pending-jsx {
    width: 500px;
    top: 329px;
  }

  .h2-avail-jsx {
    width: 500px;
    top: 669px;
  }

  .button-1 {
    bottom: unset;
    margin-left: 0;
  }

  .button-2 {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-post {
    top: 200px;
    bottom: unset;
  }

  .button-2-send-req {
    top: 280px;
    bottom: unset;
  }

  .button-1-update {
    top: 385px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-update {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .col-7 {
    width: 75%;
  }
}

@media (min-width: 767.98px) {
  .h2-plans-jsx {
    width: 500px;
  }

  .h2-pending-jsx {
    width: 500px;
    top: 329px;
  }

  .h2-avail-jsx {
    width: 500px;
    top: 665px;
  }

  .button-1 {
    bottom: unset;
    margin-left: 0;
  }

  .button-2 {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-post {
    top: 200px;
    bottom: unset;
  }

  .button-2-send-req {
    top: 280px;
    bottom: unset;
  }

  .button-1-update {
    top: 385px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-update {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .col-7 {
    width: 75%;
  }
}

@media (min-width: 991.98px) {
  .h2-plans-jsx {
    width: 500px;
  }

  .h2-pending-jsx {
    width: 500px;
    top: 329px;
  }

  .h2-avail-jsx {
    width: 500px;
    top: 669px;
  }

  .button-1 {
    bottom: unset;
    margin-left: 0;
  }

  .button-2 {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-post {
    top: 200px;
    bottom: unset;
  }

  .button-2-send-req {
    top: 280px;
    bottom: unset;
  }

  .button-1-update {
    top: 385px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-update {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .col-7 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .container {
    height: 99vh;
    width: 600px;
  }

  .container-home-jsx {
    margin-top: unset;
    padding: 1.25rem 0 0;
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .container-status-jsx {
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .container-update-jsx {
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .container-req-jsx {
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .button-home-jsx {
    width: 100px;
    right: unset;
    height: 35px;
  }

  .fa-plus-styling {
    margin: 0.5rem 0 0 2.625rem;
  }

  .icon-position {
    height: 40px;
    left: 402px;
    top: 8px;
    background-color: transparent;
  }

  .icon-style {
    border-top: none;
  }

  .icon-fas {
    margin: 0 0.625rem;
  }

  .header-jsx-style {
    left: -360px;
    background-color: transparent;
  }

  .noti-h2-style {
    width: 598px;
    top: 20px;
  }

  .noti-jsx-margin {
    margin-top: 1.875rem;
  }

  .h2-plans-jsx {
    width: 598px;
  }

  .h2-pending-jsx {
    width: 598px;
    top: 329px;
  }

  .h2-avail-jsx {
    width: 598px;
    top: 669px;
  }

  .col-3 {
    width: 15%;
  }

  .post-status-test {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: unset;
    padding: 3.75rem;
  }

  .update-plan-position {
    display: flex;
    flex-direction: column;
    padding-top: 3.75rem;
    margin-top: unset;
  }

  .button-1 {
    bottom: unset;
    margin-left: 0;
  }

  .button-2 {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-send-req {
    top: 285px;
    bottom: unset;
  }

  .button-2-post {
    top: 200px;
    bottom: unset;
  }

  .button-1-update {
    top: 385px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-update {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .col-7 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 99vh;
    width: 600px;
  }

  .container-home-jsx {
    margin-top: unset;
    padding: 1.25rem 0 0;
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .container-status-jsx {
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .container-update-jsx {
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .container-req-jsx {
    border-left: solid 1px #fef7dc;
    border-right: solid 1px #fef7dc;
  }

  .button-home-jsx {
    width: 100px;
    right: unset;
    height: 35px;
  }

  .fa-plus-styling {
    margin: 8px 0 0 42px;
  }

  .icon-position {
    height: 40px;
    left: 402px;
    top: 8px;
    background-color: transparent;
  }

  .icon-style {
    border-top: none;
  }

  .icon-fas {
    margin: 0 10px;
  }

  .header-jsx-style {
    left: -360px;
    background-color: transparent;
  }

  .noti-h2-style {
    width: 598px;
    top: 20px;
  }

  .noti-jsx-margin {
    margin-top: 1.875rem;
  }

  .h2-plans-jsx {
    width: 598px;
  }

  .h2-pending-jsx {
    width: 598px;
    top: 329px;
  }

  .h2-avail-jsx {
    width: 598px;
    top: 669px;
  }

  .col-3 {
    width: 15%;
  }

  .post-status-test {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: unset;
    padding: 3.75rem;
  }

  .update-plan-position {
    display: flex;
    flex-direction: column;
    padding-top: 3.75rem;
    margin-top: unset;
  }

  .button-1 {
    bottom: unset;
    margin-left: 0;
  }

  .button-2 {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-send-req {
    top: 285px;
    bottom: unset;
  }

  .button-2-post {
    top: 200px;
    bottom: unset;
  }

  .button-1-update {
    top: 385px;
    bottom: unset;
    margin-left: 0;
  }

  .button-2-update {
    top: 435px;
    bottom: unset;
    margin-left: 0;
  }

  .col-7 {
    width: 75%;
  }
}
